body ,ul ,li ,p{
    margin: 0;
    padding: 0; 
}
.header {
    height: 60px;
}
.header-text {
    display: block;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #b0b0b0;
}
.nav {
    height: 420px;
    width: 100%;
    border: 1px solid black;
}
.nav .nav-wanz li {
    display: block;
    height: 220px;
    width: 100px
    line-style: none;
}