body{
    margin: 0;
    padding: 0; 
}

.header-top{
    width: 1226px;
    height: 50px;
    margin: 5px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid #b0b0b0
}
main{
    height: 450px;
    width: 1226px;
    margin: 5px;
    border: 1px solid #000000
}
.nav-wanz{
    height: 420px;
    width: 120px;
    display: block;
    background: #333333;
    border: 1px solid #000000;
}
.nav-wanz a{
    /* color: #f0f0f0 */
    /* font-size:16px; */
    text-decoration: none;
}
a:hover{
    color:#b0b0b0
}