body{
    margin: 0;
    padding: 0;
}
.header-nav{
    height: 100px;
    width: 99%;
    margin: 5px;
    background-color: #333333;
    /* border: 1px solid black; */
    
}
.logo{
    width:60px;
    height:60px;
    float: left;
    background:url(../img/chanke.png) no-repeat;
}
.logo h1{
    text-indent:-9999px;
    width:60px;
    height:60px;
    overflow:hidden;
}

.a a{
    display: block;
    float: left;
    font-size: 16;
    color: #fff;
    text-decoration:none;
}
.a a:hover{
    color: #b0b0b0;
}
.main-nav{
    height: 200px;
    width: 40px;
    /* display: block; */
    /* float: left; */
    margin:5px;
    border:1px solid #b0b0b0;
}
.main-por{
    position: relative;
    height: 200px;
    float: none;
    /* margin-left:50px; */
    /* display: block; */
    margin:5px;
    border:1px solid #b0b0b0;
}
.footer-txt{
    height: 40px;
    margin:5px;
    text-align:center;
    padding-top: 10px;
    border:1px solid #b0b0b0;
}
