body, ul, li, a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0;
}
.wrapper{
    position: relative;
    width: 590px;
    height: 470px;
    margin: 100px auto;
    border: 5px solid black;
    overflow: hidden;
}
.img-box{
    position: absolute;
    left: 0;
    width: 3540px;
    height: 470px;
    
}
.img-box ul li {
    display: inline-block;
}
.btn{
    position: absolute;
    top: 50%;
    width: 100%;
}
.btn a{
    position: absolute;
    margin-top: -20px;
    width: 15px;
    height: 24px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
}
.btn .prevBtn{
    left: 0;
}
.btn .nextBtn{
    right: 0;
}
.rio-box{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.rio-box ul{
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
}
.rio-box ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    background: #fff;
    border-radius: 50%;
}
.rio-box ul .active{
    background: #ff9700;
}