body, ul, li, a, p, h1, h2 {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-image: url('../img/beijing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
/*wrapper*/
.wrapper {
    /* background: #ccc; */
    width: 600px;
    margin: 50px auto 0;/*上 左右 下*/
}
/*main*/
.main {
    width: 100%;
    text-align: center;
}
.main img {
    width: 200px;
    height: 200px;
    border: 50px solid #444;
    border-radius: 50%;
    margin: 20px;
}
/*tool*/
.tool {
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(0,0, 0, 0.5);
    margin-top: 100px;
    border-radius: 20px;
}
.tool>div {
    top: 50%;
    margin-top: -15px;
}
.btn {
    position: absolute;
    left: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.tool i {
    font-size: 30px;
    color: #fff;
    line-height: 30px;
}
.volume {
    position: absolute;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.progress{
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    /* background: red; */
}
.current-time, .all-time{
    width: 80px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-weight: 200;/*设置字体粗细，不带单位*/
    line-height: 30px;/*垂直居中文字*/
}
.current-time{
    float: left;
}
.all-time{
    float: right;
}
/*设置por-box的大小*/
.pro-box{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;/*por-box是块元素独占一行会使得同样是块元素的all-time挤到下一行，设置display:inline-block,使all-time变为行级块元素解决*/
    width: 240px;
    height: 30px;
}
.pro-bg{
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
}
.pro-active{
    position: absolute;
    top: 0;
    left: 0;/*脱离文档流*/
    width: 100px;
    height: 2px;
    background: #fff;
}
.radio-box{
    position: absolute;
    right: -9px;
    top: -9px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.radio{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -4px;
    margin-left: -4px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}