/* 取消body,ul,li的margin、padding的默认值 */
body ,ul ,li{
    margin:0;
    padding:0;
}
body{
    height:2500px;
    font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
/* 取消ul的小圆点 */
ul{
    list-style-type: none;
}
/* 给topbar容器添加颜色、高度等属性包含需要容纳的文字； */
.topbar{
    /* border:1px solid black; */
    background-color: #333;
    height: 40px;
}
/* 给容器container里面的文字居中。 */
.container{
    /* border:1px solid black; */
    margin:0 auto;
    width:1226px;
}
/* 给a标签添加text-decoration属性取消下划线； */
a{
    text-decoration:none;
}
/* 给a标签添加点击效果、字体大小、字体颜色。 */
.topbar a{
    color:#b0b0b0;
    font-size:12px;
}
.topbar a:hover {
    color:#fff;
}
/* 添加伪元素清理浮动，消除塌陷来解决浮动带来的边界塌陷； */
.container::before , .container::after 
.clearfix::before, .clearfix::after {
    content:"";
    display:table;
}
.container::after .clearfix::after {
    clear:both;
}
/* 给nav，info中的文字定位； */
.topbar-nav {
    float:left;
    height:40px;
    line-height:40px;
    font-size:0;
}
.topbar-nav span {
    font-size:12px;
    color:#424242;
    font-family:sans-serif;
    margin:0.5em;
}
.topbar-info, .topbar-cart{
    float:right;
}
/* .topbar-cart i{
    font-size: 20px;
    line-height: 20px;
} */
.topbar-cart a {
    display:block;/* 变成块级元素 */
    height: 40px;
    line-height: 40px;
    text-align: center;
    width:120px;
    background-color: #424242;
}
.topbar-cart a:hover{
    background-color: #fff;
    color:#ff6700;
}
.topbar-cart span{
    margin-left:-4px;
    font-size:12px;
}
.topbar-info{
    margin-right: 15px;
}
.topbar-info a{
    float: left;
    padding:0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span{
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
    line-height: 40px;
    height:40px;
}
.topbar-info .sep{
    padding:0 10px;
}
/* header */
.header{
    height: 100px;
    /* border:1px solid black; */
}
.header-logo{
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    /* border:1px solid black; */
}
.header-logo a{
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/logo.png) no-repeat 50% 50%;
}
.header-logo .lr{
    text-align: left;
    text-indent: -99999em;
}
/* header-nav */
.header-nav{
    float: left;
    width:820px;
    height: 100px;
    /* border:1px solid black; */
}
.header-nav .nav-list{
    width: 820px;
    height: 88px;
    font-size: 16px;
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category{
    float: left;
    width: 127px;
    padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a{
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.header-nav .nav-list .nav-item{
    float: left;
}
.header-nav .nav-list .nav-item a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover{
    color: #ff6700;
}
.header-search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top:25px;
    /* border:1px solid black; */
}
.header-search .search-form {
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
}
.header-search .search-form .search-text{
    position: absolute;
    top: 0;
    right: 51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0; /*取消input自带的边框颜色*/
}
.header-search .search-form .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
}
.header-search .search-form .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
}