body ,ul ,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    min-width: 800px;
}
.nav{
    height: 100px;
}
.nav ul{
    display: flex;
    /* width: 800px; */
    font-size: 0px;
    background: #ccc;
}
.nav ul li{
    display: inline-block;
    flex-grow: 1;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
}
.main{
    display: flex;
    width: 100%;
    height: 500px;
    margin: 10px;
}
.left{
    width: 100px;
    /* height: 500px; */
    margin-left: 10px;
    background: #ccc;
}
.center{
    width: 100px;
    flex-grow: 1;
    margin-left: 10px;
    overflow: hidden;
    background: red;
}
.right{
    width: 100px;
    /* height: 500px; */
    margin-left: 10px;
    background: #ff9700;
}
.footer{
    margin: 20px;
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background: #ccc;
}