body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.num-box{
    width: 200px;
    height: 40px;
    margin: 20px 10px;
    /* border: 1px solid red; */
}
.jian{
    position: absolute;
    left: 54px;
    margin-top: 4px;
    width: 20px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: #000;
    /* border: 1px solid #eeeeee; */
    background: #eeeeee;
}
.num-pre{
    position: absolute;
    left: 75px;
    margin-top: 2px; 
    width: 60px;
    height: 30px;
    text-align: center;
    
}
.jia{
    position: absolute;
    left: 140px;
    width: 20px;
    height: 30px;
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
    color: #000;
    /* border: 1px solid #eeeeee; */
    background: #eeeeee;
}
.min{
    color: #eeeeee;
}