body{
    margin: 0;
    padding: 0;
}
.content{
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color:#000;
    background: #ccc;
}
.too{
    position:relative;
    width: 300px;
    height: 30px;
    margin-top: 20px;
}
.progress{
    position: absolute;
    left: 0;
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}
.val{
    width: 100px;
    height: 30px;
}
.text{
    position: absolute;
    right: 0;
    line-height: 30px;
    text-align: center;
}